*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 20% !important;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: ease-in-out 1.2s;
}
.toggle{
  transform: translateX(0);
}